.submit-cre{
	width: 200px;
}
.desc-inp{
	overflow-x: none;
	resize: vertical;
	padding-top: 15px;
	height: 80px;
}
.btn2{
	height: 40px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    padding: 0 12px 0 12px;
}
.last-game{
	font-size: 30px;
}
.circle{
	height: 200px;
	width: 200px;
	background-color: #efefef;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	 border-radius: 100px;
}
.disp-photo{
		color: #868686;
		font-weight: bold;
		font-size: 20px;
}

.shadow{
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.photoX2 {
	width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid #fff;
}